.previous-searches {
    display: block;

    h2 {
        color: var(--text-color);
        margin-bottom: .5em;
    }

    .previous-searches-container {
        .search-item {
            background-color: var(--primary-color);
            display: inline-flex;
            padding: .5em 1em;
            margin: 0 1em 1em 0;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 3px 6px var(--shadow-color);
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.5s) slideInRight forwards;

            .delete-icon {
                // display: ;
                margin-left: 10px;
                cursor: pointer;
                color: var(--text-color);

                &:hover {
                    color: var(--text-light);
                }
            }
        }

    }

    .search-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        //background-color: red;
        height: 40px;
        position: relative;

        input,
        .btn {
            height: 35px;
        }

        input {
            min-width: 250px;
            padding: 0 0.5em;
            border-radius: 5px 0 0 5px;
            outline: none;
            border: 1px solid #4d4d4d;
        }

        .btn {
            padding-block: 0;
            border-radius: 0 5px 5px 0;
            padding-inline: .75em;
        }

        .suggestions-container {
            position: absolute;
            top: 100%;
            background: var(--background-color);
            box-shadow: 0 4px 6px var(--shadow-color);

            .suggestion-item {
                padding: 8px 12px;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 1px 3px var(--shadow-color);
                }
            }
        }
    }
}